/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: #114422; 
    background-image: url('https://wallpapercave.com/w/wp5909623');
    /*background-size: 500px 300px;*/
    /* A medida vh é igual a 1/100 da altura da viewport. Então, por exemplo, se a altura do navegador é     900px, 1vh equivale a 9px e, analogamente, se a largura da viewport é 750px, 1vw equivale a 7.5px.*/
    background-size: 100vh;
    font-family: Arial;
    height: 100vh;
  }

  /* BREAKPOINTS
    Se a tela tiver pelo menos 400px, irá carregar estes estilos. Útil para diferenciar
    mobile de PC */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }

  }

  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }

  }

  header {
    /* vh = viewport-height */
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center;
  }
  
  /* Duas classes pegando as mesmas propriedades: */
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
    font-size: 4em;
  }
  
  .site-subtitle {
    font-style: italic;
  }
  
  /* Seletor Hierárquico: Começa lendo da Direita -> Esquerda
   Procura todas as li para depois menu */
  
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    /* Top = 0 : 0 de Distância do topo da página */
    top: 0;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }

  .menu a {
    background-color: black;
    color: red;
    display: block;
    padding: 10px 20px;
  }

  a {
    color: teal;
    text-decoration: none
  }
  
  a:hover {
    text-decoration: underline;
  }

  .img-portfolio{
    height: 180px;
    width: 180px;
  }