/* soft reset do CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('https://image.freepik.com/vetores-gratis/fundo-elegante-padrao-de-linha-hexagonal_1017-19742.jpg');
    /*background-size: 500px 300px;*/
    /* A medida vh é igual a 1/100 da altura da viewport. Então, por exemplo, se a altura do navegador é     900px, 1vh equivale a 9px e, analogamente, se a largura da viewport é 750px, 1vw equivale a 7.5px.*/
    background-size: 100vh ;
    font-family: 'Roboto', sans-serif;
    font-size: 20;
    height: 100vh;
  }

  /* BREAKPOINTS
    Se a tela tiver pelo menos 400px, irá carregar estes estilos. Útil para diferenciar
    mobile de PC */
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }

  }

  @media (min-width: 600px) {
    body {
      font-size: 18px;
    }
  }

  header {
    /* vh = viewport-height */
    align-items: center;
    display: flex;
    height: 50vh;
    justify-content: center; 
  }
  
  /* Duas classes pegando as mesmas propriedades: 
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  */
  .site-title {
    font-size: 4em;
    font-family: 'Caveat', cursive;
  }
  
  .site-subtitle {
    font-style: bold;
    font-family: 'Comic Neue', cursive;
    line-height: 1.5em;
  }

  /* Seletor Hierárquico: Começa lendo da Direita -> Esquerda
   Procura todas as li para depois menu */
  
  .menu {
    position: fixed;
    width: 100vw;
    /* Top = 0 : 0 de Distância do topo da página */
    top: 0;
    z-index: 1;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
    font-style: bold;
    font-size: larger;
  }
  
  .menu li {
    list-style: none;
    font-style: bold;
  }

  .menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 1s, color 0.5s;
  }

  .menu a:hover {
    background-color: rgb(9, 131, 201);
    color: white;
  }

  .menu a:active {
    background-color: rgb(201, 172, 9);
    color: white;
  }

  a {
    color: black;
    text-decoration: none
  }
  
  a:hover {
    text-decoration: underline;
  }

  .titulo {
    /*
    transition: all 2s;
    */
    animation: linear 2s animacaoTitulo;
  }

  @keyframes animacaoTitulo{
    100% {
      transform: scale(0.8) translateY(50vh);
      opacity: 0.9;
    }
  }

  .contato,
  .portfolio {
    /*background-color: rgb(204, 207, 228);*/
    padding: 2em;
    min-height: 10vh;
  }

  .contato h2,
  .portfolio h2 {
    color: #06471c;
    font-family: 'Comic Neue', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
    text-align: center;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
      grid-template-columns: 240px 240px;
    }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
      /* grid-template-columns: repeat(3, 240px); */
      grid-template-columns: 240px 240px 240px;
      align-content: center;
      justify-content: center;
      /* Frequentemente ocorrerá um problema de "sobrar espaço" no final da página.
         É preciso fazer um alinhamento ou centralização, através de cálculos de px */
      height: calc(100vh - 4em - 48px - 8em);
    }
  }
  
  .portfolio .figure {
    text-align: center;
  }

  figcaption {
    display: block;
    text-align: center;
    font-size: 1.2em;
  }

  .img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    transition: transform 500ms;
  }
  
  .img-portfolio:hover {
    transform: scale(1.2) /*rotate: rotacionar a imagem*/;
  }
  
  .contato .icons {
    text-align: center;
  }

  .contato a {
    font-size: 4em;
    transition: text-shadow 1s;
  }

  /* Perceptível quando passar o mouse em cima */
  .contato a:active,
  .contato a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px blue;
  }
/*
  @media (min-width: 1200px) {
    .img-portfolio {
      height: auto;
      width: 100%;
    }
  }
*/  